<div class="container" fxLayout="column" fxLayoutGap="20px">

  <div fxFlex>
    <h3>Contact Us</h3>
    <hr>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50%" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
            121, Clear Water Bay Road<br>
            Clear Water Bay, Kowloon<br>
            HONG KONG<br>
            <span class="fa fa-phone"></span> +852 1234 5678<br>
            <span class="fa fa-fax"></span>: +852 8765 4321<br>
            <span class="fa fa-envelope"></span>: confusion@food.net<br>
        </address>
        <p></p>
        <div>
          <a md-raised-button href=""><span class="fa fa-phone"></span> Call</a>
          <a md-raised-button href=""><span class="fa fa-fax"></span> Skype</a>
          <a md-raised-button href=""><span class="fa fa-envelope"></span> Mail</a>
        </div>
      </div>
      <div fxFlex="50%">
          <h4>Map of our location</h4>
      </div>

    </div>
  </div>


  <div fxFlex>
  <h3>Feedback Form</h3>

   <form fxLayout="column" fxLayoutGap="10px" [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" novalidate>

    <div fxFlex >
        <div fxLayout.gt-sm="row" fxLayoutGap="10px" fxLayout="column">
          <md-input-container fxFlex.gt-sm="30%" fxFlex dividerColor="{{(formErrors.firstname) ? 'warn' : 'primary'}}">
            <input mdInput placeholder="First Name" type="text" formControlName="firstname">
            <md-hint>
                <span [hidden]="!(formErrors.firstname)">{{formErrors.firstname}}</span>
            </md-hint>
          </md-input-container>
          <md-input-container fxFlex.gt-sm= "30%" fxFlex dividerColor="{{(formErrors.lastname) ? 'warn' : 'primary'}}">
              <input mdInput placeholder="Last Name" type="text" formControlName="lastname">
              <md-hint>
                  <span [hidden]="!(formErrors.lastname)">{{formErrors.lastname}}</span>
              </md-hint>
            </md-input-container>
        </div>
    </div>

    <div fxFlex>
        <div fxLayout.gt-sm="row" fxLayoutGap="10px" fxLayout="column">
            <md-input-container fxFlex.gt-sm="30%" fxFlex dividerColor="{{(formErrors.telnum) ? 'warn' : 'primary'}}">
              <input mdInput placeholder="Tel Number" type="text" formControlName="telnum" pattern="[0-9]*">
              <md-hint>
                  <span [hidden]="!(formErrors.telnum)">{{formErrors.telnum}}</span>
              </md-hint>
            </md-input-container>
            <md-input-container fxFlex.gt-sm= "30%" fxFlex dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}">
                <input mdInput placeholder="Email" type="email" formControlName="email" email>
                <md-hint>
                    <span [hidden]="!(formErrors.email)">{{formErrors.email}}</span>
                </md-hint>
              </md-input-container>
        </div>
    </div>

    <div fxFlex>
        <div fxLayout="row" fxLayoutGap="10px">
            <md-slide-toggle fxFlex.gt-sm="30%" fxFlex formControlName="agree">May we contact you?</md-slide-toggle>
            <md-select fxFlex.gt-sm="30%" fxFlex placeholder="How do we contact?" formControlName="contacttype" *ngIf="feedbackForm.value.agree">
              <md-option *ngFor="let opt of contactTypes" [value]="opt">{{opt}}</md-option>
            </md-select>
      </div>
    </div>

    <div fxFlex>
          <div>
            <md-input-container fxFlex>
                <textarea mdInput placeholder="Your Message" type="text" formControlName="message" rows=12></textarea>
            </md-input-container>
            
          </div>
    </div>

    <div fxFlex>
      
       <button type="submit" class="background-primary text-floral-white" md-button [disabled]="feedbackForm.invalid">Submit</button>  
      
    </div>

   </form>

  </div>
  

</div>
