<div class="container" fxLayout="column" fxLayoutGap="20px">

  <div fxFlex>
    <h3>Contact Us</h3>
    <hr>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50%" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
            121, Clear Water Bay Road<br>
            Clear Water Bay, Kowloon<br>
            HONG KONG<br>
            <span class="fa fa-phone"></span> +852 1234 5678<br>
            <span class="fa fa-fax"></span>: +852 8765 4321<br>
            <span class="fa fa-envelope"></span>: confusion@food.net<br>
        </address>
        <p></p>
        <div>
          <a md-raised-button href=""><span class="fa fa-phone"></span> Call</a>
          <a md-raised-button href=""><span class="fa fa-fax"></span> Skype</a>
          <a md-raised-button href=""><span class="fa fa-envelope"></span> Mail</a>
        </div>
      </div>
      <div fxFlex="50%">
          <h4>Map of our location</h4>
      </div>

    </div>
  </div>

  

</div>
