<div class="container" fxLayout="row"
                       fxLayout.sm="column"
                       fxLayout.xs="column"
                       fxLayoutGap="10px"
                       fxLayoutAlign.gt-md="space-around start">

                       <div fxFlex *ngIf="dish" [@expand]>
                         <md-card>
                           <md-card-header>

                            <div md-card-avatar></div>
                             <md-card-title>
                                <h3>{{dish.name | uppercase}}</h3>
                             </md-card-title>
                             
                            </md-card-header>
                           <img md-card-image src="{{BaseURL + dish.image}}">
                           <md-card-content>{{dish.description}}</md-card-content>
                         </md-card>

                       </div>
                       <div [hidden]="dish || errMess">
                          <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
                       </div>
                       <div *ngIf="errMess">
                        <h2>Error</h2>
                        <h4>{{errMess}}</h4>
                      </div>
                       <div fxFlex *ngIf="promotion" [@expand]>
                          <md-card>
                            <md-card-header>
                                <div md-card-avatar></div>
                                <md-card-title>
                                    <h3>{{promotion.name | uppercase}}</h3>
                                 </md-card-title>
                            </md-card-header>
                            <img md-card-image src="{{BaseURL + promotion.image}}">
                            <md-card-content>{{promotion.description}}</md-card-content>
                          </md-card>
 
                        </div>
                        <div [hidden]="promotion || errMess">
                            <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
                         </div>
                         <div *ngIf="errMess">
                          <h2>Error</h2>
                          <h4>{{errMess}}</h4>
                        </div>
                        <div fxFlex *ngIf="leader" [@expand]>
                            <md-card>
                              <md-card-header>
                                  <div md-card-avatar></div>
                                  <md-card-title>
                                      <h3>{{leader.name | uppercase}}</h3>
                                   </md-card-title>
                              </md-card-header>
                              <img md-card-image src="{{BaseURL + leader.image}}">
                              <md-card-content>{{leader.description}}</md-card-content>
                            </md-card>
   
                          </div>
                          <div [hidden]="leader || errMess">
                              <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
                           </div>
                           <div *ngIf="errMess">
                            <h2>Error</h2>
                            <h4>{{errMess}}</h4>
                          </div>

</div>
